{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"importOrder": ["^[a-z]", "^[A-Z]", "^[./]"],
	"importOrderSeparation": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
